# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
trophytracker/  # Your specific virtual environment
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# IDE
.vscode/settings.json
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Project specific
staticfiles/
media/uploads/

# Database
*.db
*.sqlite3